<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2>
			Employee List(Total Employee:<span th:text="${totalEmployees}"></span>)
			<a th:href="@{/employees/new}" class="btn btn-secondary">New
				Employee</a>
		</h2>
		<h6>Department: Flight Operation, Cabin crew, Ground Operation,
			Customer Service, Marketing, HR, IT, Finance, Sales</h6>
		<h6>Base Location: Chennai, Mumbai, Delhi, Bangalore, Hyderabad</h6>


		<form th:action="@{/employees/search}" method="get">
			<label for="department">Department:</label> <input type="text"
				id="department" name="department" th:value="${department}" /> <label
				for="location">Location:</label> <input type="text" id="location"
				name="location" th:value="${location}" />

			<button type="submit" class="btn btn-primary">Search</button>
		</form>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Department</th>
					<th>Salary</th>
					<th>Address</th>
					<th>Base Location</th>
					<th>CreatedDate</th>
					<th>UpdateDate</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.email}"></td>
					<td th:text="${employee.department}"></td>
					<td th:text="${employee.salary}"></td>
					<td th:text="${employee.address}"></td>
					<td th:text="${employee.location}"></td>
					<td th:text="${employee.createdDate}"></td>
                    <td th:text="${employee.updatedDate}"></td>
					
					<td><a th:href="@{/employees/edit/{id}(id=${employee.id})}"
						class="btn btn-warning">Edit</a> <a
						th:href="@{/employees/delete/{id}(id=${employee.id})}"
						class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
